<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
    }
    th{ 
      background-color: #dddddd;
    }
  </style>
{% extends "layout.html" %}
{% block content %}

<body>

<p><font size=3>Search results for '{{query}}':</font></p>
<div style="float: left; width:50%; margin-right:20px">
<div class="table">
<table >
  <tr>
    <th>Name</th>
  </tr>
  {% for key, value in results.iteritems() %}
    <tr>
      <td>{{value}}</td>
      <td>
        <form method="POST" action="/user/{{name}}/subscribe/{{key}}">
          <input type="image" src="http://img.freepik.com/free-icon/add-interface-circular-symbol-with-plus-sign_318-67290.jpg?size=338&ext=jpg" alt="Submit" width="15" height="15">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
</div>



{% endblock %}


</html>
