<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
    }
    th{ 
      background-color: #dddddd;
    }
  </style>
{% extends "layout.html" %}
{% block content %}

<body>
<form method="GET" action="/user/{{name}}/friend_search">
<p>Search for new friends: <input type="search" name="query" required="required"> <input type="submit" value="Search by Username"></p>
</form>

<div style="float: left; width:20%; margin-right:20px">
  <p><b>Current Friends:</b></p>
<div class="table">
<table>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
  {% for key, value in friends.iteritems() %}
    <tr>
     {% if value[1] == True %}
     <td>{{value[0]}} ({{value[2]}})</td>
       <td><img src="http://www.freeiconspng.com/uploads/heart-icon-14.png" alt="friend" style="width:15px;height:15px;"></td>
     {% endif %}
    </tr>
  {% endfor %}
</table>
</div>
</div>

<div style="float: left; width:20%; margin-right:20px">
  <p><b>Pending Requests:</b></p>
<div class="table">
<table>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
  {% for k,v in friend_requests_sent.iteritems() %}
    <tr>
        <td>{{v[0]}} ({{v[1]}})</td>
       <td><img src="http://www.freeiconspng.com/uploads/heart-outline-19.png" alt="not friend" style="width:15px;height:15px;"></td>
    </tr>
  {% endfor %}
</table>
</div>
</div>

<div style="float: left; width:20%; margin-right:20px">
  <p><b>Requests Received:</b></p>
<div class="table">
<table>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
  {% for k,v in friend_requests_received.iteritems() %}
    <tr>
        <td>{{v[0]}} ({{v[1]}})</td>
       <td>
        <form method="POST" action="/user/{{name}}/accept_request/{{v[0]}}">
        <input type="image" src="http://www.iconsdb.com/icons/preview/guacamole-green/checkmark-xxl.png" alt="Submit" width="15" height="15">
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
</div>
</div>



</body>
{% endblock %}


</html>
