<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
    }
    th{ 
      background-color: #dddddd;
    }
  </style>
{% extends "layout.html" %}
{% block content %}

<body>
  <h1>Search results matching '{{query}}'</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
  </tr>
  {% for n in results %}
    <tr>
      <td>{{i}}</td>
    </tr>
  {% endfor %}
</table>

<br>
<br>
</body>
{% endblock %}


</html>
