{% macro nav_link(endpoint, name, path) %}
{% set splitpath = path.split('/') %}
{% set username = splitpath[2] %}
{% if request.endpoint.endswith(endpoint) %}
  {% if name!='Artist' %}
    <li class="active"><a href="{{ url_for(endpoint, username=username, albumname='') }}">{{name}}</a></li>
  {% else %}
    <li class="active"><a href="{{ url_for(endpoint, username=username, albumname='') }}">{{name}}</a></li>
  {% endif %}
{% else %}
  {% if name!='Artist' %}
    <li><a href="{{ url_for(endpoint, username=username, albumname='') }}">{{name}}</a></li>
  {% else %}
    <li><a href="{{ url_for(endpoint, username=username, albumname='') }}">{{name}}</a></li>
  {% endif %}
{% endif %}
{% endmacro %}
