<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
    }
    th{ 
      background-color: #dddddd;
    }
  </style>
{% extends "layout.html" %}
{% block content %}


<body>
  <h1>{{name}}'s Music Library</h1>

<form action="/user/{{name}}/create_station">
<input type="image" src="http://img.freepik.com/free-icon/add-interface-circular-symbol-with-plus-sign_318-67290.jpg?size=338&ext=jpg" alt="Submit" width="30" height="30">
Click to create new station.
</form>

<form method="GET" action="/user/{{name}}/music_search">
<p>Quick Song Search: <input type="search" name="query" required="required"> <input type="submit" value="Search"></p>
</form>




<div style="float: left; width:40%; margin-right:20px">
<p><b>Most Recently Played:</b></p>
<div class="table">
<table >
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Artist</th>
  </tr>
  {% for value in recentlyPlayed %}
    <tr>
      <td>
        <form method="POST" action="/user/{{name}}/add_song_to_favorites/{{value[0]}}">
        <input type="image" src="http://www.clipartbest.com/cliparts/Rid/Mr7/RidMr74i9.png" alt="Submit" width="15" height="15">
        </form>
      </td>
      <td><a href="{{ url_for('profile', username=username, song=value[0]) }}">&#9658</a></td>
      {% for n in value[1:] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>
</div>


<div style="float: left; width:40%; margin-right:20px">
<p><b>Most Popular (over last 6 months):</b></p>
<div class="table">
<table >
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Artist</th>
  </tr>
  {% for value in mostPopular %}
    <tr>
      <td>
        <form method="POST" action="/user/{{name}}/add_song_to_favorites/{{value[0]}}">
        <input type="image" src="http://www.clipartbest.com/cliparts/Rid/Mr7/RidMr74i9.png" alt="Submit" width="15" height="15">
        </form>
      </td>
      <td><a href="{{ url_for('profile', username=username, song=value[0]) }}">&#9658</a></td>
      {% for n in value[1:] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>
</div>

<p>
  <b>Search by:</b><br>
</p>
<form method="GET" action="/user/{{name}}/album_search">
<p>Album: <input type="search" name="query" required="required"> <input type="submit" value="Search Albums"></p>
</form>
<form method="GET" action="/user/{{name}}/station_search">
<p>Station: <input type="search" name="query" required="required"> <input type="submit" value="Search Stations"></p>
</form>


</body>
{% endblock %}



</html>
