<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
    }
    th{ 
      background-color: #dddddd;
    }
  </style>
{% extends "layout.html" %}
{% block content %}

<body>
  <h1>
    <form method="POST" action="/user/{{name}}/delete_station/{{stationName}}">
    {{stationName}} (theme = {{theme}})  
    <input type="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpleU6K18c3mJQxq8NI1bmRwpMZ5gtUgGZVWypV9Psc64ENr07" alt="Submit" width="20" height="20">
    </form>
  </h1>

<div style="float: left; width:50%; margin-right:20px">
<div class="table">
<table >
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Album</th>
    <th>Artist</th>
  </tr>
  <!-- {% for key, value in songs.iteritems() %}
    <tr>
    {% for n in value %}
      <td>{{n}}</td>
    {% endfor %}
    </tr>
  {% endfor %} -->
  {% for key, value in songs.iteritems() %}
    <tr>
      <td>
        <form method="POST" action="/user/{{name}}/remove_from_station/{{stationName}}/{{key}}">
          {{value[0]}} <input type="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpleU6K18c3mJQxq8NI1bmRwpMZ5gtUgGZVWypV9Psc64ENr07" alt="Submit" width="15" height="15">
        </form>
      </td>
      {% for n in value[1:] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>

<form method="GET" action="/user/{{name}}/station/{{stationName}}/search">
<p>Search songs: <input type="search" name="query" required="required"> <input type="submit" value="Search"></p>
</form>
</body>
{% endblock %}


</html>
