<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
    }
    th{ 
      background-color: #dddddd;
    }
  </style>
{% extends "layout.html" %}
{% block content %}

<body>
  <h1>Station search results matching '{{query}}'</h1>

<div style="float: left; width:30%; margin-right:20px">
<div class="table">
<table >
  <tr>
    <th></th>
    <th>Name</th>
    <th>Theme</th>
    <th>Author</th>
  </tr>
  {% for key, value in stations.iteritems() %}
    <tr>
      <td>
        <form method="POST" action="/user/{{name}}/add_station_to_favorites/{{key[0]}}/{{key[1]}}">
        <input type="image" src="http://www.clipartbest.com/cliparts/Rid/Mr7/RidMr74i9.png" alt="Submit" width="15" height="15">
        </form>
      </td>
    {% for n in value %}
      <td>{{n}}</td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>
</div>
</div>

</body>
{% endblock %}


</html>
