
    .body{ 
      font-size: 15pt;
      font-family: arial;
    }
    .table, .th, .td{
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border: 1px solid #dddddd;
      margin-right: 20px
    }
    .th{ 
      background-color: #dddddd;
    }
